/* Reset & Global Styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

main {
  background-color: #fff9eb;
  margin: 4em 0 2em;
}

/* Header & Footer Styles */
header, footer {
  background-color: #2c3e50;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  top: 0;
}

header h1 {
  display: inline;
}

footer {
  justify-content: center;
  bottom: 0;
}

/* Logo & Navigation Styles */
.button-style {
  padding: 10px 20px;
  background-color: #ffe3c2;
  border: 1px solid #ffe6dc;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  margin-right: 25px;
}

.large-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4A6B7D; /* Blue */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 0; /* Spacing around the button */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
}

/* Hover effect */
.large-button:hover {
  background-color: #4A6B7D;
}


.logo-container, .nav-buttons {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container:hover, .nav-buttons a:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 20px;
  height: auto;
  margin-right: 10px;
  display: inline;
}


/* Main Content Styles */
/* About Section */
#index, #about, #formpage {
  min-height: 80vh;
  padding: 2em;
  display: flex;
  align-items: center;
}

#about {
  justify-content: space-around;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  width: 30vw;
  min-width: 200px;
  background-color: #2c3e50;
  padding: 1em;
  border: 1px solid #4A6B7D;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: white;
  word-wrap: break-word;
  line-height: 1.6;
  margin-bottom: 1em;
}

/* Form Page */
#formpage {
  justify-content: center;
}

.form-container {
  background-color: #2c3e50;
  border-radius: 25px;
  padding: 50px;
  max-height: 60vh;
  max-width: 60vw;
}

iframe {
  width: 50vw;
  height: 55vh;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header, footer {
    flex-direction: column;
    padding: 0.5em;
  }
  header h1 {
    display: none;
  }
  .button-style, .logo {
    padding: 5px 10px;
  }
  .box {
    width: 90%;
    margin: 1em auto;
  }
  .logo {
    display: hidden;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    header, footer {
        flex-direction: column;
        padding: 0.5em;
    }

        header h1 {
            display: none;
        }

    .button-style, .logo {
        padding: 6px 12px;
    }

    .box {
        width: 85%;
        margin: 1em auto;
    }

    .nav-buttons {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .image-container {
        display: none;
    }
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .box {
    width: 80%;
    margin: 1em auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .box {
    width: 60%;
    margin: 1em auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .box {
    width: 50%;
    margin: 1em auto;
  }
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }
